.cart-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  gap: 37px;
  position: relative;
  background-color: #ffffff;
  overflow-x: hidden;
}

.cart-page .navbar {
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: 123px;
  align-items: center;
  justify-content: space-between;
  padding: 37px 51px;
  position: relative;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.cart-page .logo {
  display: flex;
  width: 193px;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.cart-page .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -3.5px;
  margin-bottom: -1.5px;
  transition: all 0.2s ease;
  font-family: "Barlow", Helvetica;
  font-weight: 800;
  color: #050505;
  font-size: 29px;
  text-align: center;
  letter-spacing: 6.38px;
  line-height: 29.6px;
  white-space: nowrap;
}

.cart-page .items-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.cart-page .shopping-bag {
  position: relative;
  width: 36px;
  height: 45px;
}

.cart-page .item-text {
  position: relative;
  width: 117px;
  height: 45px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #019d7d;
  font-size: 31px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cart-page .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 10px 10px 38px;
  position: relative;
  flex: 0 0 auto;
}

.cart-page .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #019d7d;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cart-page .orders-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  max-height: 376px;
  align-items: center;
  gap: 15px;
  padding: 10px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f4f6;
  overflow-y: scroll;
}

.cart-page .card {
  gap: 80px;
  padding: 16px 25px;
  display: flex;
  width: 100%;
  max-width: 1229px;
  height: auto;
  min-height: 119px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.cart-page .quantity {
  display: flex;
  flex:0 0 auto;
  width: 145px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 61px 4px;
  position: relative;
  background-color: #f3f4f6;
  border-radius: 20px;
}

.cart-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cart-page .img-container {
  display: flex;
  flex:0 0 auto;
  flex-direction: column;
  width: 197px;
  height: 87px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 71px;
  position: relative;
  background-color: #f3f5f6;
}

.cart-page .med-img {
  position: relative;
  width: 55px;
  height: 48.79px;
  object-fit: cover;
}

.cart-page .med-info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  min-width: 0;
}

.cart-page .med-name {
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #1f2937;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-page .med-base-price {
  position: relative;
  align-self: stretch;
  height: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #009f7f;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 82px;
  white-space: nowrap;
}

.cart-page .total-price {
  position: relative;
  flex: 0 0 auto;
  width: 72px;
  height: 46px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #1f2937;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 82px;
  white-space: nowrap;
}

.cart-page .cross {
  position: relative;
  width: 29px;
  height: 32px;
}
.cart-page .cross-btn{
  flex: 0 0 auto;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
}

.cart-page .empty-card-display {
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 209px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
}

.cart-page .no-item-img {
  position: relative;
  width: 135px;
  height: 165px;
  object-fit: cover;
}

.cart-page .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.cart-page .previous-orders {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  max-height: 376px;
  align-items: flex-start;
  gap: 15px;
  padding: 10px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3f4f6;
  overflow-y: scroll;
}

.cart-page .card-2 {
  gap: 80px;
  padding: 16px 25px;
  display: flex;
  width: 100%;
  max-width: 1229px;
  height: auto;
  min-height: 119px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background-color: #ffffff;
}

.cart-page .bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 94px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 28px;
  position: relative;
  background-color: #ffffff;
}

.cart-page .checkout-slider {
  display: flex;
  width: 100%;
  max-width: 1224px;
  height: 59px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 15px;
  position: relative;
  background-color: #019d7d;
  border-radius: 29.5px;
}

.cart-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cart-page .checkout-btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 11px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 25px;
}

.cart-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #019d7d;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
