<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/landing/globals.css" />
    <link rel="stylesheet" href="/landing/style.css" />
  </head>
  <body>
    <div class="landing-page">
      <div class="background-container">
        <div class="background-frame">
          <div class="overlap">
            <div class="rectangles">
              <div class="overlap-group">
                <div class="background"></div>
                <img class="rectangle" src="https://c.animaapp.com/oFGvNr78/img/rectangle-1.png" />
                <img class="rect" src="https://c.animaapp.com/oFGvNr78/img/rect2@2x.png" />
                <img class="img" src="https://c.animaapp.com/oFGvNr78/img/rectangle-3@2x.png" />
                <img class="rectangle-2" src="https://c.animaapp.com/oFGvNr78/img/rectangle-4.png" />
                <img class="rectangle-3" src="https://c.animaapp.com/oFGvNr78/img/rectangle-11.png" />
                <img class="rect-2" src="https://c.animaapp.com/oFGvNr78/img/rect5@2x.png" />
                <img class="rectangle-4" src="https://c.animaapp.com/oFGvNr78/img/rectangle-6.png" />
                <img class="rectangle-5" src="https://c.animaapp.com/oFGvNr78/img/rectangle-7@2x.png" />
                <img class="rectangle-6" src="https://c.animaapp.com/oFGvNr78/img/rectangle-8@2x.png" />
                <img class="rectangle-7" src="https://c.animaapp.com/oFGvNr78/img/rectangle-9@2x.png" />
                <img class="rect-3" src="https://c.animaapp.com/oFGvNr78/img/rect-10@2x.png" />
              </div>
            </div>
            <div class="top-half-container">
              <div class="navbar">
                <div class="logo"><div class="text-wrapper">MediEase</div></div>
                <div class="navbar-clickables">
                  <div class="navabar-texts">
                    <div class="div-wrapper">
                      <a href="/" class="home">Home</a>
                    </div>
                    <div class="contact">
                      <a href="#footer" class="div">Contact</a>
                    </div>
                    <div class="div-wrapper">
                      <a href="#footer" class="text-wrapper-3">About Us</a>
                    </div>
                  </div>
                  <img class="cart" src="https://c.animaapp.com/oFGvNr78/img/cart@2x.png" />
                </div>
              </div>
              <div class="background-content">
                <div class="background-texts">
                  <div class="BG-bold-txt">Your Health,<br />Our Priority</div>
                  <p class="BG-reg-txt">A Little care goes a long way</p>
                  <a href="/search">
                  <div class="shop-now-btn">
                    <p class="SHOP-NOW">
                      <span class="text-wrapper-4">SHOP NOW</span> <span class="text-wrapper-5">&nbsp;</span>
                    </p>
                    <img
                      class="arrow-down-iconly"
                      src="https://c.animaapp.com/oFGvNr78/img/arrow---down---iconly-pro-1@2x.png"
                    />
                  </div>
                </a>
                </div>
                <div class="med-animate">
                  <div class="overlap-group-2">
                    <img class="ellipse" src="https://c.animaapp.com/oFGvNr78/img/ellipse-3@2x.png" />
                    <div class="med-bottle">
                      <img class="med-label" src="https://c.animaapp.com/oFGvNr78/img/med-label@2x.png" />
                    </div>
                    <img class="ellipse-2" src="https://c.animaapp.com/oFGvNr78/img/ellipse-1@2x.png" />
                    <img class="ellipse-3" src="https://c.animaapp.com/oFGvNr78/img/ellipse-2@2x.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="carousel-wrapper">
          <div class="carousel-2">
            <img class="image" src="https://c.animaapp.com/oFGvNr78/img/image-1.png" />
            <div class="written-portion">
              <div class="txt-part">
                <div class="text-wrapper-17">WELCOME TO MEDIEASE</div>
                <p class="we-make-healthcare">We make healthcare<br />Understandable, Accessible<br />and Affordable.</p>
                <p class="got-a-prescription">
                  Got a prescription? We&#39;ve made it easier than ever! Simply upload your <br />prescription, and our
                  intelligent OCR-based system will automatically identify<br />the medicines you need. Let us take care
                  of the rest—convenient, accurate, and<br />hassle-free recommendations at your fingertips!
                </p>
              </div>
              <a href="/ocr">
              <button class="upload-btn">
                <div class="text-wrapper-18">Upload</div>
                <img
                  class="arrow-down-iconly-2"
                  src="https://c.animaapp.com/oFGvNr78/img/arrow---down---iconly-pro-2@2x.png"
                />
              </button>
            </a>
            </div>
          </div>
          <div class="carousel">
            <div class="text-area">
              <div class="info">
                <p class="reliable-on-time">Reliable on time <br />home delivery</p>
                <p class="our-in-house">Our in-house pharmacist ensure your medicines<br />reach you when you need them.</p>
              </div>
              <div class="search-bar">
                <div class="text-wrapper">Search Medicines</div>
                <img class="search-btn" src="https://c.animaapp.com/XnFwv7EN/img/search-btn@2x.png" />
              </div>
              <div class="blue-yellow-box">
                <div class="blue-box">
                  <div class="text-in-blue-box">
                    <p class="element"><span class="span">100</span> <span class="text-wrapper-2">%</span></p>
                    <div class="div">Delivery Success</div>
                  </div>
                </div>
                <div class="yellow-box">
                  <div class="entire-txt-in-yellow">
                    <div class="rating-txt">
                      <div class="text-wrapper-3">5.0</div>
                      <div class="text-wrapper-4">(67k)</div>
                    </div>
                    <div class="text-wrapper-5">Customer review</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ellipse-container">
              <div class="overlap-group">
                <div class="ellipse"></div>
                <img class="eliipse" src="https://c.animaapp.com/XnFwv7EN/img/eliipse-9.png" />
                <img class="img" src="https://c.animaapp.com/XnFwv7EN/img/ellipse-10.png" />
              </div>
            </div>
            <img class="delivery-man-img" src="https://c.animaapp.com/XnFwv7EN/img/delivery-man-img.png" />
            <img class="destination-design" src="https://c.animaapp.com/XnFwv7EN/img/destination-design-pencil.png" />
            <div class="text-area-2">
              <div class="delivery-within-row">
                <div class="text-wrapper-6">🛵</div>
                <div class="text-wrapper-7">Delivery within</div>
              </div>
              <div class="time-container">
                <div class="text-wrapper-8">🕚</div>
                <div class="text-wrapper-9">30 minutes</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="trending-products">
        <div class="top-line">
          <div class="div-wrapper">
            <div class="trending-products-2">Trending products<br />for you!</div>
          </div>
          <div class="see-all-product-btn">
            <div class="text-wrapper-19">SEE ALL PRODUCTS</div>
            <img class="arrow" src="https://c.animaapp.com/oFGvNr78/img/arrow@2x.png" />
          </div>
        </div>
        <div class="products-container">
          <div class="card">
            <div class="card-img">
              <img class="allegra-image" src="https://c.animaapp.com/oFGvNr78/img/allegra-image-1@2x.png" />
            </div>
            <div class="card-desc">
              <div class="med-txt">
                <div class="med-name"><div class="text-wrapper-20">Allegra- 180mg</div></div>
                <div class="med-info">
                  <p class="p">For fast relief from sneezing, runny nose, and itchy eyes caused by allergies.</p>
                </div>
              </div>
              <div class="bottom-line-div">
                <div class="add-to-cart-btn">
                  <img class="plus-sign" src="https://c.animaapp.com/oFGvNr78/img/plus-sign@2x.png" />
                  <div class="text-wrapper-21">Add to cart</div>
                </div>
                <div class="text-wrapper-22">₹ 160/-</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-img">
              <img class="allegra-image" src="https://c.animaapp.com/oFGvNr78/img/allegra-image-1-1@2x.png" />
            </div>
            <div class="card-desc">
              <div class="med-txt">
                <div class="med-name"><div class="text-wrapper-20">Allegra- 180mg</div></div>
                <div class="med-info">
                  <p class="p">For fast relief from sneezing, runny nose, and itchy eyes caused by allergies.</p>
                </div>
              </div>
              <div class="bottom-line-div">
                <div class="add-to-cart-btn">
                  <img class="plus-sign" src="https://c.animaapp.com/oFGvNr78/img/plus-sign-1@2x.png" />
                  <div class="text-wrapper-21">Add to cart</div>
                </div>
                <div class="text-wrapper-22">₹ 160/-</div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-img">
              <img class="allegra-image" src="https://c.animaapp.com/oFGvNr78/img/allegra-image-1-2@2x.png" />
            </div>
            <div class="card-desc">
              <div class="med-txt">
                <div class="med-name"><div class="text-wrapper-20">Allegra- 180mg</div></div>
                <div class="med-info">
                  <p class="p">For fast relief from sneezing, runny nose, and itchy eyes caused by allergies.</p>
                </div>
              </div>
              <div class="bottom-line-div">
                <div class="add-to-cart-btn">
                  <img class="plus-sign" src="https://c.animaapp.com/oFGvNr78/img/plus-sign-2@2x.png" />
                  <div class="text-wrapper-21">Add to cart</div>
                </div>
                <div class="text-wrapper-22">₹ 160/-</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ICONS">
        <div class="easy-return">
          <img class="return-icon" src="https://c.animaapp.com/oFGvNr78/img/return-icon-container@2x.png" />
          <div class="easy-return-txt">
            <div class="text-wrapper-23">Free Easy Returns</div>
            <div class="text-wrapper-24">Return within 7 days</div>
          </div>
        </div>
        <div class="delivery-container">
          <img class="img-2" src="https://c.animaapp.com/oFGvNr78/img/delivery-icon@2x.png" />
          <div class="free-delivery-txt">
            <div class="text-wrapper-23">Free Delivery Monday</div>
            <div class="text-wrapper-24">Orders above ₹499</div>
          </div>
        </div>
        <div class="support-container">
          <img class="img-2" src="https://c.animaapp.com/oFGvNr78/img/support-icon-container@2x.png" />
          <div class="support-txt">
            <div class="text-wrapper-25">All Day Support</div>
            <div class="text-wrapper-24">24/7 Support Care</div>
          </div>
        </div>
        <div class="security-container">
          <img class="security-icon" src="https://c.animaapp.com/oFGvNr78/img/security-icon-container@2x.png" />
          <div class="secure-txt">
            <div class="text-wrapper-26">Secure Checkout</div>
            <div class="text-wrapper-27">100% Protected by Google</div>
          </div>
        </div>
      </div>
      <div class="footer-container" id="footer">
        <img class="footer-design" src="https://c.animaapp.com/oFGvNr78/img/footer-design.png" />
        <div class="footer-written">
          <div class="footer-first-row">
            <div class="site-info">
              <div class="div-wrapper"><div class="text-wrapper-28">MediEase</div></div>
              <div class="site-desc">
                <p class="text-wrapper-29">
                  We are dedicated to providing accessible healthcare solutions with quality medicines delivered right
                  to your doorstep. Your health is our top priority.
                </p>
              </div>
            </div>
            <div class="contact-us">
              <div class="text-wrapper-30">Contact Us</div>
              <p class="address">MIT Campus-Udupi - Karkala Rd,<br />Eshwar Nagar, Manipal, Karnataka 576104</p>
              <div class="phone">
                <img class="phone-svg" src="https://c.animaapp.com/oFGvNr78/img/phone-svg@2x.png" />
                <div class="text-wrapper-31">+91-8810470168</div>
              </div>
              <div class="mail">
                <img class="mail-svg" src="https://c.animaapp.com/oFGvNr78/img/mail-svg@2x.png" />
                <div class="text-wrapper-32">contact@example.com</div>
              </div>
            </div>
            <div class="quick-links">
              <div class="text-wrapper-33">Quick Links</div>
              <a href="/"><div class="text-wrapper-34">Home</div></a>
              <div class="text-wrapper-34">Admin Login</div>
              <div class="text-wrapper-35">Prescription Upload</div>
              <div class="text-wrapper-35">Chatbot</div>
            </div>
            <div class="follow-us">
              <div class="text-wrapper-33">Follow us</div>
              <div class="instagram">
                <img class="IG-icon" src="https://c.animaapp.com/oFGvNr78/img/ig-icon@2x.png" />
                <div class="text-wrapper-36">Ease_with_Med</div>
              </div>
              <div class="x">
                <img class="x-bg" src="https://c.animaapp.com/oFGvNr78/img/x-bg@2x.png" />
                <div class="text-wrapper-36">Med@Ease</div>
                <img class="x-icon" src="https://c.animaapp.com/oFGvNr78/img/x-icon@2x.png" />
              </div>
            </div>
          </div>
          <div class="description">
            <div class="text-wrapper-33">Description</div>
            <p class="the-information">
              The information provided on this website is for educational purposes only.<br />Please consult your doctor
              for medical advice before purchasing any medication. <br />All orders are subject to prescription
              verification.
            </p>
          </div>
          <div class="copyright">
            <img class="footer-underline" src="https://c.animaapp.com/oFGvNr78/img/footer-underline.png" />
            <p class="copyright-text">© 2024 MediEase. All Rights Reserved.</p>
          </div>
        </div>
      </div>
      <div class="chatbot-btn" onclick="openChatbot()">
        <div class="ellipse-6"></div>
        <img class="vector" src="https://c.animaapp.com/oFGvNr78/img/vector@2x.png" />
      </div>
    </div>
   <script src="/landing/app.js">
    </script>
  </body>
</html>
