<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/login/globals.css" />
    <link rel="stylesheet" href="/login/style.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="logo"><div class="text-wrapper">MediEase</div></div>
      <div id="login-box" class="login-box">
        <div class="left-half">
          <div class="intersect">
            <div class="overlap-group">
              <img class="background-des" src="https://c.animaapp.com/HuNhLGux/img/background-des-2.png" />
              <img class="plus-sign" src="https://c.animaapp.com/HuNhLGux/img/plus-sign-2@2x.png" />
              <div class="ellipse"></div>
              <img class="vector" src="https://c.animaapp.com/HuNhLGux/img/vector-8-2@2x.png" />
              <div class="div"></div>
              <div class="ellipse-2"></div>
              <img class="img" src="https://c.animaapp.com/HuNhLGux/img/vector-9-2@2x.png" />
              <img class="login-image" src="https://c.animaapp.com/HuNhLGux/img/login-image-2@2x.png" />
            </div>
          </div>
        </div>
        <div class="right-half">
          <div class="div-2">
            <div class="text-wrapper-2">Sign in</div>
            <p class="p">Don't have an account? <a href="#" onclick="showCreateAccount(); return false;">Create an account</a></p>
          </div>
          <form method="post" action="/login" class="input-area">
            <input type="email" name="username" class="email-container" placeholder="Email" required />
            <input type="password" name="password" class="password-container" placeholder="Enter Password" required />
            <button type="submit" class="login-btn">
              <div class="text-wrapper-3">Sign in</div>
            </button>
          </form>
          <div class="login-with-line">
            <img class="line" src="https://c.animaapp.com/HuNhLGux/img/line-3-1@2x.png" />
            <div class="text-wrapper-4">or login with</div>
            <img class="vector-2" src="https://c.animaapp.com/HuNhLGux/img/vector-10-1@2x.png" />
          </div>
          <a href="/auth/google">
            <div class="google-button">
              <div class="google-align-cont">
                <img class="google-icon" src="https://c.animaapp.com/HuNhLGux/img/google-icon@2x.png" />
                <div class="text-wrapper-5">Google</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="failure-pop-up">
        <img class="cross-btn" src="https://c.animaapp.com/HuNhLGux/img/cross-btn@2x.png" />
        <div class="text-container">
          <div class="text-wrapper-6">Oops</div>
          <div class="text-wrapper-7">Something went wrong!</div>
        </div>
        <a href="/login">
          <div class="OK-btn">
            <div class="background"></div>
            <div class="text-wrapper-8">OK</div>
          </div>
        </a>
        
      </div>
      <div id="create-account-box" class="create-account-box">
        <div class="left-half">
          <div class="intersect">
            <div class="overlap-group">
              <img class="background-des" src="https://c.animaapp.com/HuNhLGux/img/background-des-2.png" />
              <img class="plus-sign" src="https://c.animaapp.com/HuNhLGux/img/plus-sign-2@2x.png" />
              <div class="ellipse"></div>
              <img class="vector" src="https://c.animaapp.com/HuNhLGux/img/vector-8-2@2x.png" />
              <div class="div"></div>
              <div class="ellipse-2"></div>
              <img class="img" src="https://c.animaapp.com/HuNhLGux/img/vector-9-2@2x.png" />
              <img class="login-image" src="https://c.animaapp.com/HuNhLGux/img/login-image-2@2x.png" />
            </div>
          </div>
        </div>
        <div class="right-half-2">
          <div class="div-2">
            <div class="text-wrapper-2">Create an account</div>
            <p class="p">Already have an account? <a href="/register" onclick="showLogin(); return false;">Log in</a></p>
          </div>
          <form method="post" action="/register" class="input-area-2">
            <div class="first-line">
              <input type="text" name="name" class="first-name-container" placeholder="Name" required />
              <input type="tel" name="phone" class="phone-container" placeholder="Phone Number" />
            </div>
            <input type="email" name="email" class="email" placeholder="Email" required />
            <input type="password" name="password" class="enter-your-password" placeholder="Enter Your Password" required />
            <button type="submit" class="create-account-btn">
              <div class="text-wrapper-3">Create account</div>
            </button>
          </form>
          <a href="/auth/google">
            <div class="google-align-cont-wrapper">
              <div class="google-align-cont">
                <img class="google-icon-2" src="https://c.animaapp.com/HuNhLGux/img/google-icon-1@2x.png" />
                <div class="text-wrapper-5">Google</div>
              </div>
            </div>
          </a>
          
          <div class="register-with-line">
            <img class="line-2" src="https://c.animaapp.com/HuNhLGux/img/line-3-1@2x.png" />
            <div class="text-wrapper-4">or register with</div>
            <img class="vector-3" src="https://c.animaapp.com/HuNhLGux/img/vector-10-1@2x.png" />
          </div>
        </div>
      </div>
      <div class="success-pop-up">
        <img class="check-mark" src="https://c.animaapp.com/HuNhLGux/img/check-mark@2x.png" />
        <div class="text-container">
          <div class="text-wrapper-6">Success</div>
          <div class="text-wrapper-7">Account created successfully!</div>
        </div>
        <a href="/login">
          <div class="OK-btn">
            <div class="background"></div>
            <div class="text-wrapper-8">OK</div>
          </div>
        </a>
      </div>
    </div>
    <script src="/login/app.js"></script>
  </body>
</html>
